<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tracklist</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav>
        <div class="nav-wrapper teal darken-1">
            <a href="#" class="brand-logo center">Tracklist</a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">=</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><a href="~/Pay/Payment">Payment</a></li>
                <li><a href="~/Upload/Upload">Upload</a></li>
                <li><a href="~/Cm/Index">Create</a></li>

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><a href="~/Pay/Payment">Payment</a></li>
                <li><a href="~/Upload/Upload">Upload</a></li>
                <li><a href="~/Cm/Index">Create</a></li>
                
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
        
    </nav>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tracklist by James Hennessy X00101225</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>