
@model IEnumerable<Project2.Models.HipHop>
@{
    ViewBag.Title = "Index";
}

<h2>Hip Hop</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p><a class="btn btn-default blue" href="Create">Create New</a></p>
    </div>
</div>
<!--like+share in devlopment mode -->
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fjhtracklist.azurewebsites.net%2FHipHops%2FIndex&layout=button_count&size=small&mobile_iframe=true&appId=969893366389142&width=68&height=20" width="68" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<!--DISPLAY POSTS-->

@foreach (var item in Model)

{

    <div class="card-panel">
        <dl class="dl-horizontal">

            <dt>

                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubGenre)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.SubGenre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Comment)
            </dd>


            <dd>

                <b>
                    <!--VIDEO-->
                    @Html.DisplayFor(modelItem => item.Link)
                    <iframe width="853" height="480" src="@Html.DisplayFor(modelItem => item.Link)" frameborder="0" allowfullscreen></iframe>

                </b>
            </dd>



        </dl>

    </div>
}
<!--www.chatango.com-->
<script id="cid0020000133732329378" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 215px;height: 300px;">{"handle":"tracklisthiphip","arch":"js","styles":{"a":"ffcc00","b":100,"c":"000000","d":"000000","k":"ffcc00","l":"ffcc00","m":"ffcc00","p":"10","q":"ffcc00","r":100,"pos":"tr","cv":1,"cvbg":"ffcc00","cvfg":"000000","cvw":215,"cvh":31,"ticker":1,"fwtickm":1}}</script>