
@model IEnumerable<Project2.Models.HipHop>
@{
    ViewBag.Title = "Index";
}

<h2>Hip Hop</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p><a class="btn btn-default blue" href="Create">Create New</a></p>
    </div>
</div>

<!--DISPLAY POSTS-->

@foreach (var item in Model)

{

    <div class="card-panel">
        <dl class="dl-horizontal">

            <dt>

                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubGenre)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.SubGenre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Comment)
            </dd>


            <dd>

                <b>
                    <!--VIDEO-->
                    @Html.DisplayFor(modelItem => item.Link)
                    <iframe width="853" height="480" src="@Html.DisplayFor(modelItem => item.Link)" frameborder="0" allowfullscreen></iframe>

                </b>
            </dd>



        </dl>
    </div>
}
