
@model IEnumerable<Project2.Models.Contact>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p><a class="btn btn-default blue" href="Create">Create New</a></p>
    </div>
</div>



@foreach (var item in Model)

{
    <div class="card-panel">
        <dl class="dl-horizontal">

            <dt>
                
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.State)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Email)
            </dd>

            <dd>

                <b>
                    <!--VIDEO-->
                    @Html.DisplayFor(modelItem => item.Zip)
                    <iframe width="853" height="480" src="@Html.DisplayFor(modelItem => item.Zip)" frameborder="0" allowfullscreen></iframe>

                </b>
            </dd>

            <dd>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
            </dd>

        </dl>
    </div>
}
